/target
.idea/
*.iml
*~
*#
*.txt
*.data
*.zst
*.csv

WinProject/target
WinProject/.idea/
WinProject/src/main.rs
WinProject/src/z_*.rs
WinProject/Cargo.lock

Reproducer/target
Reproducer/.idea/
Reproducer/src/classes_origin.rs
Reproducer/Cargo.lock
Reproducer/csv_results.csv

CSVCreator/target
CSVCreator/.idea/
CSVCreator/Cargo.lock